.QuestionCard{
    width: 80vw;
    border: 2px solid white;
    border-radius: 4px;

    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 1rem;
    text-align: center;

    user-select: none;

    animation: fadein 0.5s;

    @keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .question{
        padding: 1rem;
        font-size: 1.5rem;
    }

}